:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  flex: 1;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 32px;
  font-family: 'Nunito', sans-serif;
  
  img {
    height: 70px;
  }
  
  p {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Nunito", sans-serif;
  flex: 1;
  padding: 12px 16px;
  box-sizing: border-box;
  overflow-y: auto;
}

.login-card {
  position: relative;
  background: white;
  border-radius: 20px;
  padding: 48px;
  width: 100%;
  max-width: 600px;
  text-align: left;
  box-sizing: border-box;
}

.header-text {
  color: #405cff;
  font-size: 32px;
  margin-bottom: 24px;
  margin-top: 32px;
}

p {
  margin: 0;
}

.subheader {
  margin-bottom: 12px;
  font-size: 18px;
  margin-top: 8px;
  color: #405cff;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #000000;
  }
}

.back-arrow {
  position: absolute;
  top: 16px;
  left: 16px;

  font-size: 32px;
  color: #4d96f6;
  cursor: pointer;

  transition: .2s ease;
  z-index: 2000;
}

.back-arrow:hover {
  color: #084ba3;
  transform: translateX(-4px);
}

@media (max-width: 500px) {
  .header-logo {
    padding: 16px;
    
    img {
      height: 50px;
    }
    
    p {
      font-size: 24px;
    }
  }

  .login-container {
    padding: 12px 16px;
  }

  .login-card {
    padding: 24px;
  }

  .back-arrow {
    position: static;
    margin-bottom: 8px;
  }

  .header-text {
    font-size: 24px;
    margin-top: 0;
  }

  p {
    font-size: 14px;
  }
}
