.mobile-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}


@media (max-width: 750px) {
    .button-menu {
        display: none;
    }

    .header-menu {
        display: none;
    }

.container-height.mobile {
    height: 100vh;
    width: 100vw;
    margin: 0;
    border-radius: 0;
  }

  .container-height.mobile .sidenav {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .container-height.mobile .channel-list {
    flex-grow: 1;
    overflow-y: auto;
  }

  .search {
    width: 298px;
height: 32px;
border-radius: 42px;
border-width: 1px;
justify-content: space-between;
padding-top: 8px;
padding-right: 24px;
padding-bottom: 8px;
padding-left: 24px;
opacity: 1;

  }

}