.mat-drawer-container.menu-open {
  background-color: white !important;
  height: 100vh;
}

section {
    height: 100vh;
}


.container-height {
    height: 940px;
    width: 366px;
    display: flex;
    gap: 25px;
    border-radius: 30px;
    font-family: 'Nunito';
    position: relative;
    left: 0;
    margin-left: 30px;

}


.sidenav {
    height: 940px !important;
    max-height: 940px !important;

}



.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;


    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    >img {
        z-index: 2;
    }
}


.header-menu-channels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 30px 0px 30px;



    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        &:hover {
            color: #797ef3;
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);
            cursor: pointer;
        }
    }

    >img {
        z-index: 2;
    }
}

.sidenav-content {
    transform: rotate(270deg);
    display: flex;
    position: relative;
    top: 500px;
    margin-left: 0px;
    right: 0px;
    background-color: white;
    gap: 8px;
    opacity: 1;
    padding-top: 20px;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-left: 12px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;



    >button {
        position: fixed;
        left: 0px;
        gap: 8px;
        opacity: 1;
        padding-top: 20px;
        padding-right: 12px;
        padding-bottom: 20px;
        padding-left: 12px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
       

        &:hover {
            color: #797ef3;
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);
            cursor: pointer;
        }
    }


}


.write-message {
    &:hover {
        cursor: pointer;
        filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);
    }
}

.channel-list {
  padding-left: 40px; 
  margin-top: 4px;
  background-color: white;
}