.mat-drawer-container.menu-open {
    background-color: white !important;
    // height: 100vh;
    overflow: hidden;
}

body {
    overflow: hidden;
    height: 100%;
}

section {
    height: 100vh;
}


.container-height {
    position: relative;
    height: 940px;
    width: 366px;
    display: flex;
    gap: 25px;
    border-radius: 30px;
    font-family: 'Nunito';
    position: relative;
    left: 0;
    margin-left: 30px;

}





.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;


    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

}


.header-menu-channels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 30px 0px 30px;



    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        &:hover {
            color: #797ef3;
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);
            cursor: pointer;
        }
    }

}






.button-menu {
    position: relative;
    top: -400px;
    left: -140px;
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 339px;
    height: 56px;
    background-color: white;
    color: black;
    gap: 8px;
    opacity: 1;
    padding-top: 20px;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-left: 12px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
 border: 1px solid transparent;
    box-shadow: 0 0 5px 1px rgba(128,128,128,0.5);
    &:hover {
        cursor: pointer;
        color: #797ef3;

        img {
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);
        }
    }

    img {
        transform: rotate(90deg);


    }
}









.write-message {
    &:hover {
        cursor: pointer;
        filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);
    }
}

.channel-list {
    padding-left: 40px;
    margin-top: 4px;
    background-color: white;
}