.mat-drawer-container.menu-open {
  background-color: white !important;
  overflow: hidden;
}

.container-height {
  height: 100%;
  max-height: 900px;
  display: flex;
  border-radius: 30px;
  font-family: 'Nunito';
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
}

.header-menu-channels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 30px 0px 30px;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    &:hover {
      color: #797ef3;
      filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%)
        contrast(96%);
      cursor: pointer;
    }
  }
}

.channel-list {
  padding-left: 40px;
  margin-top: 4px;
  background-color: white;
}
