<!-- Desktop: Mat-Drawer -->
<mat-drawer-container *ngIf="!isMobile" class="container-height" hasBackdrop="false" [class.menu-open]="isMenuOpen">
  <mat-drawer #drawer class="sidenav" mode="side" [(opened)]="isMenuOpen">
    <div class="header-menu">
      <div>
        <img src="/img/logo-menu-devspace.png" alt="">
        <h2>Devspace</h2>
      </div>
      <img src="/img/edit-square.png" alt="" class="write-message" (click)="onOpenNewMessage()">
    </div>

    <div class="header-menu-channels">
      <div (click)="toggleChannels()">
        <img src="/img/arrow-drop-menu.png" alt="">
        <img src="/img/channel.png" alt="">
        <h3>Channels</h3>
      </div>
      <img src="/img/add-channel.png" alt="" class="write-message" matButton (click)="openDialog()">
    </div>
    
    <div class="channel-list" *ngIf="showChannels">
      <app-channels></app-channels>
    </div>

    <div class="header-menu-channels" (click)="toggleMessages()">
      <div>
        <img src="/img/arrow-drop-menu.png" alt="">
        <img src="/img/direct-person.png" alt="">
        <h3>Direktnachrichten</h3>
      </div>
    </div>
    
    <div class="channel-list" *ngIf="showMessages">
      <app-direct-messages></app-direct-messages>
    </div>
  </mat-drawer>
</mat-drawer-container>

<!-- Mobile: Einfacher Container ohne Mat-Drawer -->
<div *ngIf="isMobile" class="mobile-menu-container">
  <input 
    class="search"
    type="text" 
    placeholder="Gehe zu..."
    [(ngModel)]="searchQuery"
    (input)="onSearchInput()"
    (focus)="showSearchResults = searchQuery.length > 0"
  > 
  
  <div class="header-menu">
    <div>
      <img src="/img/logo-menu-devspace.png" alt="">
      <h2>Devspace</h2>
    </div>
    <img src="/img/edit-square.png" alt="" class="write-message" (click)="onOpenNewMessage()">
  </div>

  <div class="header-menu-channels">
    <div (click)="toggleChannels()">
      <img src="/img/arrow-drop-menu.png" alt="">
      <img src="/img/channel.png" alt="">
      <h3>Channels</h3>
    </div>
    <img src="/img/add-channel.png" alt="" class="write-message" matButton (click)="openDialog()">
  </div>
  
  <div class="channel-list" *ngIf="showChannels">
    <app-channels></app-channels>
  </div>

  <div class="header-menu-channels" (click)="toggleMessages()">
    <div>
      <img src="/img/arrow-drop-menu.png" alt="">
      <img src="/img/direct-person.png" alt="">
      <h3>Direktnachrichten</h3>
    </div>
  </div>
  
  <div class="channel-list" *ngIf="showMessages">
    <app-direct-messages></app-direct-messages>
  </div>
</div>

<img src="/img/mobile-new-message.png" alt="" *ngIf="isMobile" class="mobile-message" (click)="onOpenNewMessage()">