<div #messagesEl class="messages">
    <ng-container *ngFor="let m of messagesView">

        <div class="time-separator" *ngIf="m.timeSeparator">
            <span>{{ m.timeSeparator }}</span>
        </div>

        <article class="message" *ngIf="!m.timeSeparator" [class.you]="m.isYou" #messageRef
            (mouseenter)="cancelEditMessagePanelHide(m)" (mouseleave)="scheduleEditMessagePanelHide(m)">

            <div class="avatar" [class.you]="m.isYou" [style.background-image]="'url(' + (m.avatar | avatarUrl) + ')'">
                <span *ngIf="!m.avatar"></span>

                <span class="status-dot"
                    [ngClass]="presence.userStatusMap()[uid] === 'online' ? 'online' : 'offline'"></span>
            </div>

            <div class="message-body" [class.you]="m.isYou">
                <div class="meta" [class.you]="m.isYou">
                    <strong>{{ m.username }}</strong>
                    <time>{{ m.createdAt | timeOf }}</time>
                </div>

                <div class="text bubble" [class.you]="m.isYou">
                    {{ m.text }}
                </div>

                <div class="reactions" [class.you]="m.isYou" *ngIf="m.reactions.length || m.repliesCount > 0">
                    <div class="emoji-reactions" *ngIf="m.reactions.length">
                        <div class="reaction" *ngFor="let r of m.reactions" [class.active]="r.youReacted" type="button"
                            (mouseenter)="showReactionPanel(m, r, $event)" (mouseleave)="scheduleReactionPanelHide()">
                            <img class="emoji" [src]="getEmojiSrc(r.emojiId)" alt="">
                            <span class="count-emoji">{{ r.emojiCount }}</span>
                        </div>

                        <span #emojiBtn class="icon-box" (click)="toggleEmojiFromReactions(m, $event)">
                            <img class="default" src="icons/add_reaction.png" alt="">
                            <img class="hover" src="icons/add_reaction_purple.png" alt="">
                        </span>
                    </div>

                    <div class="response" *ngIf="m.repliesCount > 0">
                        <span class="count-answere" (click)="openThread(m)">{{ m.repliesCount }} Antworten</span>
                        <span class="answere">Letzte Antwort {{ timeOf(m.lastReplyTime) }}</span>
                    </div>
                </div>
            </div>

            <div class="reaction-panel" *ngIf="reactionPanel.show && reactionPanel.messageId === m.messageId"
                [style.left.px]="reactionPanel.x" [style.top.px]="reactionPanel.y"
                (mouseenter)="cancelReactionPanelHide()" (mouseleave)="scheduleReactionPanelHide()">

                <div class="panel-content">
                    <img *ngIf="reactionPanel.emoji" class="emoji" [src]="reactionPanel.emoji" alt="">
                    <div class="panel-text">
                        <div class="title">{{ reactionPanel.title }}</div>
                        <div class="subtitle">{{ reactionPanel.subtitle }}</div>
                    </div>
                </div>
            </div>

            <div class="reaction-bar" [class.you]="m.isYou">
                <span class="icon-box" (click)="toggleReaction(m, 'check')">
                    <img class="default" src="icons/emojis/emoji_white heavy check mark.png" alt="">
                    <img class="hover" src="icons/emojis/emoji_white heavy check mark.png" alt="">
                </span>

                <span class="icon-box" (click)="toggleReaction(m, 'thumbs_up')">
                    <img class="default" src="icons/emojis/emoji_person raising both hands in celebration.png" alt="">
                    <img class="hover" src="icons/emojis/emoji_person raising both hands in celebration.png" alt="">
                </span>

                <span #barEmojiBtn class="icon-box" (click)="toggleEmojiFromReactionBar(m, $event)">
                    <img class="default" src="icons/add_reaction.png" alt="">
                    <img class="hover" src="icons/add_reaction_purple.png" alt="">
                </span>

                <span class="icon-box" (click)="openThread(m)">
                    <img class="default" src="icons/comment.png" alt="">
                    <img class="hover" src="icons/comment_purple.png" alt="">
                </span>

                <span class="icon-box d-none" [class.you]="m.isYou" (click)="toggleEditMessagePanel(m, $event)">
                    <img class="default" src="icons/more_vert.png" alt="">
                    <img class="hover" src="icons/more_vert_purple.png" alt="">
                </span>
            </div>

            <div class="edit-message-panel" [class.you]="m.isYou" *ngIf="m.isYou && showEditPanelForId === m.messageId"
                (click)="editMessage(m, $event)" (mouseenter)="cancelEditMessagePanelHide(m)"
                (mouseleave)="scheduleEditMessagePanelHide(m)">
                <span>Nachricht bearbeiten</span>
            </div>
        </article>
    </ng-container>
</div>

<footer class="composer">
    <div class="composer-input">
        <textarea #composerTextarea [(ngModel)]="draft" placeholder="Nachricht an #{{ channelName }}"></textarea>

        <div class="composer-actions">
            <div class="d-flex">
                <span #addEmojiBtn class="icon-box" (click)="openAddEmojis(addEmojiBtn)">
                    <img class="default" src="icons/emoji_grey.png" alt="">
                    <img class="hover1" src="icons/emoji_black.png" alt="">
                    <img class="hover2" src="icons/emoji_purple.png" alt="">
                </span>
                <span #atMemberBtn class="icon-box" (click)="openAtMembers(atMemberBtn)">
                    <img class="default" src="icons/at_grey.png" alt="">
                    <img class="hover1" src="icons/at_black.png" alt="">
                    <img class="hover2" src="icons/at_purple.png" alt="">
                </span>
            </div>

            <div>
                <span class="icon-box" (click)="sendMessage()">
                    <img class="default" src="icons/Send icon.png" alt="">
                    <img class="hover1" src="icons/Send icon_light.png" alt="">
                </span>
            </div>
        </div>
    </div>
</footer>