$primary: #535AF1;
$placeholder: #686868;
$hoverBg: #ECEEFE;
$hoverBgYou: #797EF3;
$line: #ADB0D9;
$textYou: #FFFFFF;

.messages {
  overflow: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 35px;
  padding-left: 35px;

}

.time-separator {
  display: flex;
  align-items: center;

  >span {
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 30px;
    border: 1px solid $line;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
  }

  &:before,
  &:after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: $line;
  }
}

.message {
  position: relative;
  display: flex;
  gap: 30px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  padding: 10px;

  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  .message-body {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Nunito';

    .meta {
      display: flex;
      align-items: center;
      gap: 20px;

      strong {
        font-weight: 700;
        font-size: 18px;
      }

      time {
        font-weight: 400;
        font-size: 14px;
        color: #686868;
      }

      &.you {
        flex-direction: row-reverse;
      }
    }

    .text {
      border-radius: 0 30px 30px 30px;
      background-color: $hoverBg;
      padding: 15px;

      &.you {
        border-radius: 30px 0 30px 30px;
        background-color: $hoverBgYou;
        color: $textYou;
      }
    }

    .reactions {
      display: flex;
      align-items: center;
      gap: 15px;

      .reaction {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        border-radius: 20px;
        border: 1px solid $line;
        cursor: pointer;

        .emoji {
          width: 24px;
          height: 24px;
        }

        .count-emoji {
          font-family: 'Nunito';
          font-weight: 400;
          font-size: 16px;
        }

        &.active {
          background-color: #FFFFFF;
        }
      }

      .response {
        display: flex;
        align-items: center;
        gap: 20px;
        font-family: 'Nunito';
        font-weight: 400;

        .count-answere {
          font-size: 18px;
          color: $primary;
          font-style: bold;

          &:hover {
            font-weight: 700;
          }
        }

        .answere {
          font-size: 14px;
          color: $line;
        }
      }

      &.you {
        justify-content: end;
      }
    }
  }

  .reaction-bar {
    position: absolute;
    top: -24px;
    right: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    width: auto;
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid $line;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-left: 20px;
    gap: 5px;
    opacity: 0;

    .icon-box {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      display: grid;
      place-items: center;
      cursor: pointer;

      .hover {
        position: absolute;
        opacity: 0;
      }

      &:hover {
        background-color: $hoverBg;

        .hover {
          opacity: 1;
        }

        .default {
          opacity: 0;
        }
      }
    }

    .d-none {
      display: none;

      &.you {
        display: grid;
      }
    }

    &.you {
      right: auto;
      left: 20px;
    }
  }




  &.you {
    flex-direction: row-reverse;
  }

  &:hover {
    background-color: $hoverBg;
    cursor: pointer;

    .text {
      background-color: #FFFFFF !important;

      &.you {
        background-color: $hoverBgYou !important;
      }
    }

    .reaction-bar {
      opacity: 1;
    }

    // .count {
    //   color: #686868;
    // }
  }
}

.composer {
  border: 1px solid $line;
  border-radius: 20px;
  margin-right: 35px;
  margin-left: 35px;

  .composer-input {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;

    textarea {
      resize: none;
      border: none;
      outline: none;
      font-family: 'Nunito';
      font-weight: 400;
      font-size: 18px;

      &::placeholder {
        color: $placeholder;
      }

      &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 3px rgba($primary, .12);
        background: #fff;
      }
    }

    .composer-actions {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;

      .d-flex {
        display: flex;
        gap: 5px;
      }

      .icon-box {
        position: relative;
        border-radius: 20px;
        padding: 8px;
        gap: 10px;
        background-color: $hoverBg;
        display: grid;
        place-items: center;
        cursor: pointer;

        .hover1,
        .hover2 {
          position: absolute;
          opacity: 0;
        }

        &:hover {

          .hover1,
          .hover2 {
            opacity: 1;
          }

          .default {
            opacity: 0;
          }
        }
      }

      .send {
        border: none;
        cursor: pointer;
        padding: 10px 18px;
        border-radius: 12px;
        background: $primary;
        color: #fff;
        font: 700 14px/1 'Nunito';
      }
    }
  }
}