<div class="dialog">
    <div class="header">
        <h2>Leute hinzufügen</h2>
        <img src="/icons/close.png" alt="" (click)="closeDialog()">
    </div>

    <form #peopleForm="ngForm">
        <div class="checkboxen">
            <label>
                <input type="radio" name="option1" value="option1" (click)="toggleExtraField(true)"
                    [(ngModel)]="selectedOption">
                <span class="checkmark"></span>
                <p> Alle Mitglieder von DirectMessages auswählen</p>
            </label>

            <label>
                <input type="radio" name="option2" value="option2" (click)="toggleExtraField(true)"
                    [(ngModel)]="selectedOption">
                <span class="checkmark"></span>
                <p> Bestimmte Leute hinzufügen</p>
            </label>

            <div class="error" *ngIf="!selectedOption">
                <p>Es muss eine Option ausgewählt sein</p>
            </div>

            <div *ngIf="showExtraFields" class="multi-select">
                <input type="text" placeholder="Name filtern..." [(ngModel)]="inputName"
                    [ngModelOptions]="{standalone: true}" (input)="filterPeople($event)">

                <div class="filtered-list" *ngIf="selectedOption === 'option2'">
                    <div *ngFor="let person of filteredPeople" class="person-item" (click)="selectPerson(person)">
                        <span>{{ person.name }}</span>
                    </div>
                </div>

                <div class="selected-list">
                    <div *ngFor="let person of selectedPeople" class="selected-person">
                        {{ person.name }}
                        <img src="/icons/close.png" (click)="removePerson(person)" class="remove-btn">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="button-end">
        <button [disabled]="!isFormValid()" (click)="addMember()">Erstellen</button>
    </div>
</div>