.dialog {
    width: 710px !important;
    max-width: 872px !important;
    border-radius: 30px !important;
    height: 279;
    display: flex;
    padding: 40px;
    gap: 20px;
    opacity: 1;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Nunito';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >h2 {
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;

    }

    >img {
        width: 24px;
        height: 24px;


        &:hover {
            cursor: pointer;
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);
            box-shadow: 0 0 12px rgba(255, 255, 255, 0.3), 0 0 4px rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            transform: scale(1.1);
        }
    }
}


.checkboxen {
    margin-left: -40px;
}


.button-end {
    display: flex;
    justify-content: end;
   &:disabled {
        background-color: #5a57f5;
        box-shadow: 0 0 12px rgba(255, 255, 255, 0.3), 0 0 4px rgba(255, 255, 255, 0.2);
    }
}

label {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 10px;
    ;

    >input {
        width: 20px;
        height: 20px;
        opacity: 0;

        &:hover {
            cursor: pointer;
        }
    }

    >p {
        font-family: 'Nunito-noBold';
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;

    }
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50px;
    position: relative;

    &::after {
        background-color: #444df2;
    }
}


.checkmark:after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: #444df2;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    transform: translate(-55%, -25%) scale(0);

}

.input-name {
    width: 594px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}

label>input:checked+.checkmark::after {
    transform: translate(-15%, -15%) scale(1);
}