<div class="dialog">
    <div class="header">
        <h2>Leute hinzufügen</h2>
        <img src="/icons/close.png" alt="" (click)="closeDialog()">
    </div>

    <form #peopleForm="ngForm">
        <div class="checkboxen">
            <label>
                <input type="radio" name="option1" value="option1" (click)="onOptionChange('option1')"
                    [(ngModel)]="selectedOption">
                <span class="checkmark"></span>
                <p> Alle Mitglieder von DirectMessages auswählen</p>
            </label>

            <label>
                <input type="radio" name="option2" value="option2" (click)="onOptionChange('option2')"
                    [(ngModel)]="selectedOption">
                <span class="checkmark"></span>
                <p> Bestimmte Leute hinzufügen</p>
            </label>

            <div class="error" *ngIf="!selectedOption">
                <p>Es muss eine Option ausgewählt sein</p>
            </div>

            <div *ngIf="showExtraFields" class="multi-select">
                <ng-container *ngFor="let person of selectedPeople">
                    <span class="chip">
                        <img class="avatar" [src]="'/icons/avatars/' + person.avatar" [alt]="person.name" />

                        <span class="name">{{ person.name }}</span>

                        <span class="icon-box-remove" (click)="removePerson(person)">
                            <img class="default" src="/icons/close.png" alt="">
                            <img class="hover" src="/icons/close_purple.png" alt="">
                        </span>
                    </span>
                </ng-container>

                <!-- Input im Chip-Feld -->
                <input class="input-name" type="text" placeholder="{{ selectedPeople.length ? '' : 'Name eingeben...'}}"
                    [(ngModel)]="inputName" [ngModelOptions]="{standalone: true}" (input)="filterPeople()"
                    (keydown)="onInputKeydown($event)">

                <!-- Dropdown -->
                <div class="dropdown"
                    *ngIf="inputName.length >= 1 && filteredPeople.length > 0 && selectedOption === 'option2'">

                    <button class="option" *ngFor="let p of filteredPeople" (mousedown)="$event.preventDefault()"
                        (click)="selectPerson(p)">

                        <img class="avatar" [src]="'/icons/avatars/' + p.avatar" [alt]="p.name">

                        <div class="meta">
                            <div class="row">
                                <span class="name">{{ p.name }}</span>

                            </div>
                        </div>

                    </button>

                </div>



            </div>
            <div class="button-end">
                <button [disabled]="!isFormValid()" (click)="create()">Erstellen</button>
            </div>
        </div>