
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  flex: 1;
  padding: 12px 16px;
  box-sizing: border-box;
}

.login-card {
  position: relative;
  background: white;
  border-radius: 20px;
  padding: 48px;
  text-align: center;
  width: 500px;
}

.title {
  color: #405cff;
  font-size: 38px;
  margin-bottom: 8px;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 0;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: #333;
  margin-bottom: 32px;
}

.material-symbols-outlined {
  font-size: 20px;
  margin-right: 12px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background: #f4f5ff;
  border-radius: 9999px;
  cursor: text;
  margin: 0 auto;
  padding: 0 16px;
  width: 400px;
  height: 52px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 32px;
  &:hover {
    box-shadow: 0 0 0 1.5px #3b3b3b inset;
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    color: #333;
  }

  &:focus-within {
    background: #eef0ff;
    box-shadow: 0 0 0 1.5px #5b6bff inset;
  }
}

.error {
box-shadow: 0 0 0 1px red;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 16px;
}

button {
    width: 180px;
}

.error-message {
  text-align: left;
  color: red;
  margin: -24px 0 8px 8px;
  font-size: 12px;
}

.back-arrow {
  position: absolute;
  top: 16px;
  left: 16px;

  font-size: 32px;
  color: #4d96f6;
  cursor: pointer;

  transition: .2s ease;
  z-index: 2000;
}

.back-arrow:hover {
  color: #084ba3;
  transform: translateX(-4px);
}

.disabled-btn {
  background-color: #8a8a8a;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .login-container {
    padding: 12px 16px;
  }

  .login-card {
    width: 300px;
    padding: 24px;
  }

  h1 {
    font-size: 24px !important;
    margin-bottom: 12px !important;
  }

  .subtitle {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
  }

  .back-arrow {
    position: static;
    display: flex;
    margin: 0 0 8px 0;
  }

  .input-wrapper {
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  input {
    font-size: 14px !important;

    &::placeholder {
      font-size: 14px !important;
    }
  }
  
  .buttons {
    justify-content: center;
  }
  
  button {
    width: 160px;
  }
}
