.profile-main {
    height: 600px;
    width: 500px !important;
    max-width: 500px;
    gap: 38px;
    padding-top: 45px;
    padding-right: 40px;
    padding-bottom: 45px;
    padding-left: 40px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Nunito';

}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;

    >img {
        &:hover {
            cursor: pointer;
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);
            box-shadow: 0 0 12px rgba(255, 255, 255, 0.3), 0 0 4px rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            transform: scale(1.1);
        }
    }
}


.profile-img-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    >h2 {
        font-family: 'Nunito';
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    >p {
        font-family: 'Nunito-semiBold';
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #797ef3;

        &:hover {
            cursor: pointer;
            color: #444DF2;
            transform: scale(1, 1);
        }
    }
}


.status-div {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 10px;
    color: #92C83E;
    margin-top: -25px;

    >p {
        font-size: 20px;
    }
}

.email-div {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 15px;

    >p {
        font-size: 20px;
        font-family: 'Nunito';

    }
}

.email-name {
    font-family: 'Nunito-noBold';
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #1381FF;
    padding-left: 40px;
    margin-top: -5px;

}