$primary: #535AF1;
$hoverBg: #ECEEFE;
$hoverBtn: #797EF3;

.profile-main {
    height: auto;
    width: 500px !important;
    max-width: 500px;
    gap: 38px;
    padding-top: 45px;
    padding-right: 40px;
    padding-bottom: 45px;
    padding-left: 40px;
    // border-radius: 30px;

    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Nunito';

}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;

    .icon-box {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        img {
            background-size: cover;
            background-position: center;
        }

        .hover {
            position: absolute;
            inset: 0;
            opacity: 0;
        }

        &:hover {
            color: $primary;
            background: $hoverBg;
            cursor: pointer;

            .hover {
                opacity: 1;
            }

            .default {
                opacity: 0;
            }
        }
    }
}


.profile-img-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    >img {
         width: 200px;
        height: 200px;
        border-radius: 500px;
    }
}

.profile-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    >h2 {
        font-family: 'Nunito';
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    >p {
        font-family: 'Nunito-semiBold';
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #797ef3;

        &:hover {
            cursor: pointer;
            color: #444DF2;
            transform: scale(1, 1);
        }
    }
}


.status-div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -25px;

    >p {
        font-size: 20px;
    }
}

.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.online {
  background: #2ecc71;
  box-shadow: 0 0 8px #2ecc71;
}

.online-text {
    color: #2ecc71;
}

.offline-text {
    color: #e74c3c;
}

.offline {
  background: #e74c3c;
}


.email-div {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 15px;

    >p {
        font-size: 20px;
        font-family: 'Nunito';

    }
}

.email-name {
    font-family: 'Nunito-noBold';
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #1381FF;
    padding-left: 40px;
    margin-top: -5px;

}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    >.button {
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        border-radius: 25px;
        padding-top: 12px;
        padding-right: 25px;
        padding-bottom: 12px;
        padding-left: 25px;
        font: 'Nunito';
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        background: #444DF2;
        cursor: pointer;

        img {
            width: 24px;
            height: 24px;
        }

        &:hover {
            background-color: $hoverBtn;
        }
    }
}