<div #scrollArea class="scroll-area">
    <div class="thread-root" [class.you]="root.isYou" *ngIf="root as root">
        <div class="avatar" [class.you]="root.isYou"
            [style.background-image]="'url(' + (root.avatar | avatarUrl) + ')'">
            <span *ngIf="!root.avatar"></span>

            <span class="status-dot"
                [ngClass]="presence.userStatusMap()[uid] === 'online' ? 'online' : 'offline'"></span>
        </div>

        <div class="message-body" [class.you]="root.isYou">
            <div class="meta" [class.you]="root.isYou">
                <strong>{{ root.username }}</strong>
                <time>{{ root.createdAt | timeOf }}</time>
            </div>

            <div class="text bubble" [class.you]="root.isYou">
                {{ root.text }}
            </div>

            <div class="reactions" [class.you]="root.isYou" *ngIf="root.reactions.length">
                <div class="emoji-reactions">
                    <div class="reaction" *ngFor="let x of root.reactions" [class.active]="x.youReacted"
                        (mouseenter)="showReactionPanelRoot(x, $event)" (mouseleave)="scheduleReactionPanelHide()">
                        <img class="emoji" [src]="getEmojiSrc(x.emojiId)" alt="">
                        <span class="count-emoji">{{ x.emojiCount }}</span>
                    </div>

                    <span class="icon-box">
                        <img class="default" src="/img/add_reaction.png" alt="">
                        <img class="hover" src="/img/add_reaction_purple.png" alt="">
                    </span>
                </div>
            </div>
        </div>

        <div class="reaction-panel" *ngIf="reactionPanel.show && reactionPanel.messageId === root.messageId"
            [style.left.px]="reactionPanel.x" [style.top.px]="reactionPanel.y" (mouseenter)="cancelReactionPanelHide()"
            (mouseleave)="scheduleReactionPanelHide()">

            <div class="panel-content">
                <img *ngIf="reactionPanel.emoji" class="emoji" [src]="reactionPanel.emoji" alt="">
                <div class="panel-text">
                    <div class="title">{{ reactionPanel.title }}</div>
                    <div class="subtitle">{{ reactionPanel.subtitle }}</div>
                </div>
            </div>
        </div>

        <div class="reaction-bar" [class.you]="root.isYou">
            <span class="icon-box">
                <img class="default" src="/img/add_reaction.png" alt="">
                <img class="hover" src="/img/add_reaction_purple.png" alt="">
            </span>
        </div>
    </div>

    <div class="replies-separator">
        <span>{{ replies.length }} Antworten</span>
    </div>

    <div class="replies">
        <ng-container *ngFor="let r of replies">
            <article class="reply" [class.you]="r.isYou" (mouseenter)="cancelEditMessagePanelHide(r)"
                (mouseleave)="scheduleEditMessagePanelHide(r)">

                <div class="avatar" [class.you]="r.isYou"
                    [style.background-image]="'url(' + (r.avatar | avatarUrl) + ')'">
                    <span *ngIf="!r.avatar"></span>

                    <span class="status-dot"
                        [ngClass]="presence.userStatusMap()[uid] === 'online' ? 'online' : 'offline'"></span>
                </div>

                <div class="message-body" [class.you]="r.isYou">
                    <div class="meta" [class.you]="r.isYou">
                        <strong>{{ r.username }}</strong>
                        <time>{{ timeOf(r.createdAt) }}</time>
                    </div>

                    <div class="text bubble" [class.you]="r.isYou">
                        {{ r.text }}
                    </div>

                    <div class="reactions" [class.you]="r.isYou" *ngIf="r.reactions.length">
                        <div class="emoji-reactions" *ngIf="r.reactions.length">
                            <div class="reaction" *ngFor="let x of r.reactions" [class.active]="x.youReacted"
                                (mouseenter)="showReactionPanel(r, x, $event)"
                                (mouseleave)="scheduleReactionPanelHide()">
                                <img class="emoji" [src]="getEmojiSrc(x.emojiId)" alt="">
                                <span class="count-emoji">{{ x.emojiCount }}</span>
                            </div>

                            <span #emojiBtn class="icon-box" (click)="toggleEmojiFromReactions(r, $event)">
                                <img class="default" src="/img/add_reaction.png" alt="">
                                <img class="hover" src="/img/add_reaction_purple.png" alt="">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="reaction-panel" *ngIf="reactionPanel.show && reactionPanel.messageId === r.threadMessageId"
                    [style.left.px]="reactionPanel.x" [style.top.px]="reactionPanel.y"
                    (mouseenter)="cancelReactionPanelHide()" (mouseleave)="scheduleReactionPanelHide()">

                    <div class="panel-content">
                        <img *ngIf="reactionPanel.emoji" class="emoji" [src]="reactionPanel.emoji" alt="">
                        <div class="panel-text">
                            <div class="title">{{ reactionPanel.title }}</div>
                            <div class="subtitle">{{ reactionPanel.subtitle }}</div>
                        </div>
                    </div>
                </div>

                <div class="reaction-bar" [class.you]="r.isYou">
                    <span #barEmojiBtn class="icon-box" (click)="toggleEmojiFromReactionBar(r, $event)">
                        <img class="default" src="/img/add_reaction.png" alt="">
                        <img class="hover" src="/img/add_reaction_purple.png" alt="">
                    </span>

                    <span class="icon-box d-none" [class.you]="r.isYou" (click)="toggleEditMessagePanel(r, $event)">
                        <img class="default" src="/img/more_vert.png" alt="">
                        <img class="hover" src="/img/more_vert_purple.png" alt="">
                    </span>
                </div>

                <div class="edit-message-panel" [class.you]="r.isYou"
                    *ngIf="r.isYou && showEditPanelForId === r.threadMessageId" (click)="editMessage(r, $event)"
                    (mouseenter)="cancelEditMessagePanelHide(r)" (mouseleave)="scheduleEditMessagePanelHide(r)">
                    <span>Nachricht bearbeiten</span>
                </div>
            </article>
        </ng-container>
    </div>
</div>

<footer class="composer">
    <div class="composer-input">
        <textarea #composerTextarea [(ngModel)]="draft" placeholder="Antworten..."></textarea>

        <div class="composer-actions">
            <div class="d-flex">
                <span #addEmojiBtn class="icon-box" (click)="openAddEmojis(addEmojiBtn)">
                    <img class="default" src="/img/emoji_grey.png" alt="">
                    <img class="hover1" src="/img/emoji_black.png" alt="">
                    <img class="hover2" src="/img/emoji_purple.png" alt="">
                </span>
                <span #atMemberBtn class="icon-box" (click)="openAtMembers(atMemberBtn)">
                    <img class="default" src="/img/at_grey.png" alt="">
                    <img class="hover1" src="/img/at_black.png" alt="">
                    <img class="hover2" src="/img/at_purple.png" alt="">
                </span>
            </div>

            <div>
                <span class="icon-box" (click)="sendMessage()">
                    <img class="default" src="/img/Send icon.png" alt="">
                    <img class="hover1" src="/img/Send icon_light.png" alt="">
                </span>
            </div>
        </div>
    </div>
</footer>