<div class="thread-root">
    <div class="avatar" [class.you]="root.isYou"
        [style.background-image]="root.avatar ? 'url(' + root.avatar + ')' : null">
        <span *ngIf="!root.avatar"></span>
    </div>

    <div class="message-body">
        <div class="meta">
            <strong>{{ root.author }}</strong>
            <time>{{ root.time }}</time>
        </div>
        <div class="text bubble">{{ root.text }}</div>

        <div class="replies-separator">
            <span>2 Antworten</span>
        </div>
    </div>
</div>

<div class="replies">
    <article class="reply" *ngFor="let r of replies" [class.own]="r.isYou">
        <div class="avatar" [class.you]="r.isYou" [style.background-image]="r.avatar ? 'url(' + r.avatar + ')' : null">
            <span *ngIf="!r.avatar"></span>
        </div>
        <div class="message-body">
            <div class="meta">
                <strong>{{ r.author }}</strong>
                <time>{{ r.time }}</time>
            </div>
            <div class="text bubble" [class.own]="r.isYou">{{ r.text }}</div>

            


            <div class="reactions" *ngIf="r.reactions?.length">
                <div class="reaction" *ngFor="let x of r.reactions">
                    <img class="emoji" src="{{ x.emoji }}" alt="">
                    <span class="count-emoji">{{ x.count }}</span>
                </div>
            </div>

        </div>
    </article>
</div>

<footer class="composer">
    <div class="composer-input">
        <textarea [(ngModel)]="draft" placeholder="Antworten..."></textarea>

        <div class="composer-actions">
            <div class="d-flex">
                <span class="icon-box" (click)="openAddEmojis()">
                    <img class="default" src="icons/emoji_grey.png" alt="">
                    <img class="hover1" src="icons/emoji_black.png" alt="">
                    <img class="hover2" src="icons/emoji_purple.png" alt="">
                </span>
                <span #btn2 class="icon-box" (click)="openAtMembers(btn2)">
                    <img class="default" src="icons/at_grey.png" alt="">
                    <img class="hover1" src="icons/at_black.png" alt="">
                    <img class="hover2" src="icons/at_purple.png" alt="">
                </span>
            </div>

            <div>
                <span class="icon-box" (click)="sendMessage()">
                    <img class="default" src="icons/Send icon.png" alt="">
                    <img class="hover1" src="icons/Send icon_light.png" alt="">
                </span>
            </div>
        </div>
    </div>
</footer>