

.main-container {
    width: 256px;
    height: 33px;
    display: flex;
    padding-left: 25px;
    gap: 15px;
    border-radius: 30px;
    justify-content: row;
    align-items: center;
    display: flex;
    font-family: 'Nunito-noBold';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: -10px;
    margin-bottom: 20px;

    &:hover {
   background-color: #e0e0ff;
        box-shadow: 0 0 8px rgba(68, 77, 242, 0.3),
                    0 0 4px rgba(68, 77, 242, 0.2);
        cursor: pointer;
        img {
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);

        }
    }

    &.active {
        background-color: #ECEEFE;
      
        
        p {
            color: #444df2;
            font-weight: 600;
        }
        
        img {
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);

        }
    }
}

.add-container {
    height: 33px;
    display: flex;
    padding-left: 25px;
    gap: 15px;
    border-radius: 30px;
    justify-content: row;
    align-items: center;
    display: flex;
    font-family: 'Nunito-noBold';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 20px;

    &:hover {
        cursor: pointer;
        color: #797ef3;

        img {
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);

        }

    }

}