* {
    background-color: white;
}


.main-container {
    width: 170px;
    height: 33px;
    display: flex;
    padding-left: 25px;
    gap: 15px;
    border-radius: 30px;
    justify-content: row;
    align-items: center;
    display: flex;
    font-family: 'Nunito-noBold';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: -10px;

    &:hover {
        p {
            color: #444df2;
        }

        background-color: #cccccc;
        box-shadow: 0 0 12px rgba(255, 255, 255, 0.3),
        0 0 4px rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }
}

.add-container {
    height: 33px;
    display: flex;
    padding-left: 25px;
    gap: 15px;
    border-radius: 30px;
    justify-content: row;
    align-items: center;
    display: flex;
    font-family: 'Nunito-noBold';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 20px;

    &:hover {
        cursor: pointer;
        color: #797ef3;

        img {
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);

        }

    }

}