<div class="main-container">
  <div class="header">
    <div class="header-title">
      <button *ngIf="layout.isMobile()" class="back-button" (click)="goBack()">
        <img src="/img/arrow_back.png" alt="Back">
      </button>
      <p>Neue Nachricht</p>
    </div>

    <div class="input-chips">
      <!-- Chip direkt im Input -->
      <ng-container *ngFor="let person of selectedPeople">
        <span class="chip">
          <img class="avatar" [src]="'/img/avatars/' + person.avatar" [alt]="person.name">
          <span class="name">{{ person.name }}</span>
          <span class="icon-box-remove" (click)="removePerson(person)">
            <img class="default" src="/img/close.png" alt="">
            <img class="hover" src="/img/close_purple.png" alt="">
          </span>
        </span>
      </ng-container>

      <!-- Input nur anzeigen, wenn noch keine Person ausgewählt -->
      <input *ngIf="selectedPeople.length === 0" type="text" placeholder="An: #channel, oder @jemand"
        [(ngModel)]="inputName" (input)="filterPeople()" (keydown)="onInputKeydown($event)">
    </div>

    <!-- Dropdown -->
    <div class="dropdown" *ngIf="search && filteredPeople.length > 0">
      <button class="option" *ngFor="let p of filteredPeople" (mousedown)="$event.preventDefault()"
        (click)="selectPerson(p)">
        <img class="avatar" [src]="'/img/avatars/' + p.avatar" [alt]="p.name">
        <div class="meta">
          <div class="row">
            <span class="name">{{ p.name }}</span>
          </div>
        </div>
      </button>
    </div>

  </div>

  <footer class="composer">
    <div class="composer-input">
      <textarea #composerTextarea [(ngModel)]="draft" [placeholder]="composerPlaceholder"></textarea>
      
      <div class="composer-actions">
        <div class="d-flex">
          <span #addEmojiBtn class="icon-box" (click)="openAddEmojis(addEmojiBtn)">
            <img class="default" src="/img/emoji_grey.png" alt="">
            <img class="hover1" src="/img/emoji_black.png" alt="">
            <img class="hover2" src="/img/emoji_purple.png" alt="">
          </span>
          <span #atMemberBtn class="icon-box" (click)="openAtMembers(atMemberBtn)">
            <img class="default" src="/img/at_grey.png" alt="">
            <img class="hover1" src="/img/at_black.png" alt="">
            <img class="hover2" src="/img/at_purple.png" alt="">
          </span>
        </div>
        
        <div>
          <span class="icon-box" (click)="sendMessage()">
            <img class="default" src="/img/Send icon.png" alt="">
            <img class="hover1" src="/img/Send icon_light.png" alt="">
          </span>
        </div>
      </div>
    </div>
  </footer>
</div>