$primary: #535AF1;
$secondary: #797EF3;
$background: #FFFFFF;
$hoverBg: #ECEEFE;
$line: #ADB0D9;
$text: #000000;


.main-container {
  width: 1494px;
  height: 940px;
  border-radius: 30px;
  background-color: white;
  z-index: 100;
  border-radius: 30px;
  position: absolute;
  top: 157px;
  left: 406px;
}

.header {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 40px;
  padding-top: 20px;

  >p {
    margin-bottom: 30px;
  }

  >input {
    width: 1404px;
    border-radius: 30px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    gap: 10px;
    border-width: 1px;

    &::placeholder {

      font-family: 'Nunito-noBold';
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
}


footer {
  margin-top: 450px;
}

.composer {
  border: 1px solid $line;
  border-radius: 20px;
  margin-right: 35px;
  margin-left: 35px;


  .composer-input {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;

    textarea {
      resize: none;
      border: none;
      outline: none;
      font-family: 'Nunito';
      font-weight: 400;
      font-size: 18px;



      &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 3px rgba($primary, .12);
        background: #fff;
      }
    }

    .composer-actions {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;

      .d-flex {
        display: flex;
      }

      .icon-box {
        position: relative;
        border-radius: 20px;
        padding: 8px;
        gap: 10px;
        background-color: $hoverBg;
        display: grid;
        place-items: center;
        cursor: pointer;

        .hover1,
        .hover2 {
          position: absolute;
          opacity: 0;
        }

        &:hover {

          .hover1,
          .hover2 {
            opacity: 1;
          }

          .default {
            opacity: 0;
          }
        }
      }

      .send {
        border: none;
        cursor: pointer;
        padding: 10px 18px;
        border-radius: 12px;
        background: $primary;
        color: #fff;
        font: 700 14px/1 'Nunito';
      }
    }
  }
}

.input-wrap {


  &:focus-within {
    border-color: $primary;
    box-shadow: 0 0 0 3px rgba($primary, .12);
  }

  input {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    width: auto;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
  }
}

.chip {
  display: inline-flex;
  align-items: center;
  border-radius: 35px;
  padding-top: 3px;
  padding-right: 20px;
  padding-bottom: 3px;
  padding-left: 40px;
  gap: 15px;
  background: $hoverBg;
  color: $text;

  .avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }

  .name {
    font: 'Nunito';
    font-weight: 400;
    font-size: 18px;
  }

  .icon-box-remove {
    position: relative;
    display: inline-block;
    align-self: flex-end;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    img {
      background-size: cover;
      background-position: center;
    }

    .hover {
      position: absolute;
      inset: 0;
      opacity: 0;
    }

    &:hover {
      color: $primary;
      background: $hoverBg;
      cursor: pointer;

      .hover {
        opacity: 1;
      }

      .default {
        opacity: 0;
      }
    }
  }
}

.dropdown {
  position: absolute;
  top: 48px;
  width: 335px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid $line;
  padding-top: 20px;
  padding-right: 21px;
  padding-bottom: 20px;
  padding-left: 21px;
  gap: 15px;
  background: $background;
}

.option {
  width: auto;
  border-radius: 35px;
  padding-top: 4px;
  padding-right: 20px;
  padding-bottom: 4px;
  padding-left: 20px;
  gap: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .meta {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .name {
    font: 700 16px 'Nunito';
    color: $text;
  }

  .status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #D0D3E3;

    &.online {
      background: #39D353;
    }
  }

  &:hover {
    background: $hoverBg;
  }
}

@media (max-width: 650px) {
  .main-container {
    width: 100%;
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 80px;
    border-radius: 0;
  }

  .header {
    padding-left: 0;
  }

  .composer {
    margin: 0;
    min-height: 50px;
    >.composer-input {
gap: 0;
>textarea {
  min-height: auto;
}
    }
  }

  .header p {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .input-chips {
    flex-wrap: wrap;
    gap: 8px;
    border-radius: 8px;
  }

  .input-chips input {
    width: 100%;
    max-width: 578px;
    font-size: 16px;
    padding-right: 0px;
    margin-right: 16px;
    
    &::placeholder {

      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  .chip {
    height: 36px;
    padding: 4px 8px;
  }

  .chip .name {
    font-size: 14px;
  }

  .dropdown {
    max-height: 240px;
    overflow-y: auto;
  }

  footer.composer {
    margin-top: auto;
  }

  .composer-input textarea {
    min-height: 80px;
    font-size: 16px;
  }

  .composer-actions {
    margin-top: 8px;
  }

  .icon-box {
    width: 40px;
    height: 40px;
  }
}