$primary: #535AF1;
$placeholder: #686868;
$hoverBg: #ECEEFE;
$line: #ADB0D9;

h2 {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 24px;
}

.main-container {
  width: 989px;
  height: 940px;
  border-radius: 30px;
  background-color: white;
  z-index: 100;
  top: 157px;
  left: 406px;
}

.header {
  display: flex;
  justify-content: row;
  gap: 15px;
  align-items: center;
  padding-left: 40px;
  padding-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


  >p {
    margin-bottom: 30px;
  }

  >img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

.second-container {
  padding-left: 40px;

  margin-top: 300px;

  >div {
    display: flex;
    justify-content: row;
    gap: 15px;
    align-items: center;

    >img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

  }

  >p {
    font-family: 'Nunito-noBold';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

    >span {
      color: #535AF1;


    }
  }
}

footer {
  margin-top: 50px;
}

.composer {
  border: 1px solid $line;
  border-radius: 20px;
  margin-right: 35px;
  margin-left: 35px;


  .composer-input {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;

    textarea {
      resize: none;
      border: none;
      outline: none;
      font-family: 'Nunito';
      font-weight: 400;
      font-size: 18px;

      &::placeholder {
        color: $placeholder;
      }

      &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 3px rgba($primary, .12);
        background: #fff;
      }
    }

    .composer-actions {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;

      .d-flex {
        display: flex;
      }

      .icon-box {
        position: relative;
        border-radius: 20px;
        padding: 8px;
        gap: 10px;
        background-color: $hoverBg;
        display: grid;
        place-items: center;
        cursor: pointer;

        .hover1,
        .hover2 {
          position: absolute;
          opacity: 0;
        }

        &:hover {

          .hover1,
          .hover2 {
            opacity: 1;
          }

          .default {
            opacity: 0;
          }
        }
      }

      .send {
        border: none;
        cursor: pointer;
        padding: 10px 18px;
        border-radius: 12px;
        background: $primary;
        color: #fff;
        font: 700 14px/1 'Nunito';
      }
    }
  }
}

.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: 36px;
  margin-left: -24px;
}

.online {
  background: #2ecc71;
  box-shadow: 0 0 8px #2ecc71;
}

.offline {
  background: #e74c3c;
}