<div class="login-container">
  <div class="login-card mat-elevation-z4">
    <h1 class="title">Anmeldung</h1>
    <p class="subtitle">
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.
    </p>

<label class="input-wrapper" [ngClass]="{'error': (submitted() && emailError())}">
  <span class="material-symbols-outlined">mail</span>
  <input type="email" placeholder="beispielname@email.com" [(ngModel)]="email" />
</label>
<p *ngIf="submitted() && emailError()" class="error-message">Diese E-Mail Adresse ist leider ungültig</p>
<label class="input-wrapper" [ngClass]="{'error': (submitted() && loginError())}">
  <span class="material-symbols-outlined">lock</span>
  <input type="password" placeholder="Passwort" [(ngModel)]="password" />
</label>
<p *ngIf="submitted() && loginError()" class="error-message">Falsches Passwort oder E-Mail. Bitte noch einmal versuchen.</p>

    <a routerLink="/reset-password" class="forgot-link">Passwort vergessen?</a>

<div class="divider-wrapper">
  <div class="line"></div>
  <span class="oder">ODER</span>
  <div class="line"></div>
</div>

  <button class="google-btn" (click)="loginWithGoogle()">
  <img src="/img/Google.png" alt="Google" />
  <span>Anmelden mit Google</span>
</button>

    <div class="buttons">
      <button (click)="login()">Anmelden</button>
      <button class="button-white" (click)="guestLogin()">Gäste-Login</button>
    </div>
  </div>
</div>
