
.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

.login-card {
  background: white;
  border-radius: 20px;
  padding: 48px;
  text-align: center;
  width: 360px;
}

.title {
  color: #405cff;
  font-size: 38px;
  margin-bottom: 8px;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 0;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-bottom: 32px;
}

.material-symbols-outlined {
  font-size: 20px;
  margin-right: 12px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background: #f4f5ff;
  border-radius: 9999px;
  cursor: text;
  padding: 0 16px;
  height: 52px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 32px;
  &:hover {
    box-shadow: 0 0 0 1.5px #3b3b3b inset;
  }

  img {
    width: 18px;
    opacity: 0.7;
    margin-right: 8px;
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    color: #333;
  }

  &:focus-within {
    background: #eef0ff;
    box-shadow: 0 0 0 1.5px #5b6bff inset;
  }
}

.forgot-link {
  color: #405cff;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background-color: #edf6ff;
    padding: 6px 8px;
    border-radius: 16px;
    color: #084ba3;
  }
}

.divider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 24px 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #cfd2f8;
}

.oder {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #1b1b1b;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;

  width: 100%;
  height: 44px;
  border: none;
  border-radius: 9999px;

  background-color: #f4f5ff;
  color: #405cff;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;

  transition: all 0.25s ease-in-out;

  img {
    width: 28px;
    height: 28px;
  }

  &:hover {
    background-color: #e7e9ff;
    box-shadow: 0 0 0 1.5px #5b6bff inset;
     transform: scale(1.02);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(64, 92, 255, 0.3);
  }
}

.error {
box-shadow: 0 0 0 1px red;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.error-message {
  text-align: left;
  color: red;
  margin: -24px 0 8px 8px;
  font-size: 12px;
}

@media (max-width: 500px) {

  .login-container {
      margin-top: 32px;
    margin-bottom: 32px;
    position: static;
    transform: none;
  }

  .login-card {
    width: 280px;
    height: 550px;
    padding: 12px;
  }

  button {
    font-size: 14px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 20px;
  } 

  .divider-wrapper {
    margin: 16px 0;
  }
  
  input {
    font-size: 14px !important;

    &::placeholder {
      font-size: 14px !important;
    }
  }
}