@media (max-width: 550px) {
    .edit-profile {
        width: 95% !important;
        max-width: 360px;
        padding: 20px;
        box-sizing: border-box;
        height: auto;
        min-height: 600px;
        padding-top: 45px;
        padding-right: 20px;
        padding-bottom: 45px;
        padding-left: 20px;
        gap: 38px;

    }

    .profile-header {
        >h2 {
            font-size: 18px;
        }
        gap: 5px;
    }

    .profile-name {
        h2 {
            font-size: 32px;
        }
    }

    .profile-img-div {
        >img {
            width: 140px;
            height: 140px;
        }
    }

    .avatar-subtitle {
        margin-top: 12px;
        font-size: 14px;
    }

    .avatar-selection {
        gap: 6px;
        flex-wrap: wrap;
        margin-bottom: 12px;
    }

    .avatar-option {
        height: 40px;
        width: 40px;
    }

    .edit-name {
        margin-top: 20px;
        >h2 {
font-size: 18px;
        }
    }





    button {
        width: 133px;
        height: 49px;
        padding-top: 12px;
        padding-right: 25px;
        padding-bottom: 12px;
        padding-left: 25px;
        gap: 10px;
    }

    .button-cancel {
        width: 123px;
    }

    .edit-buttons {
        gap: 10px;
        margin-top: 30px;
    }
}