.edit-profile {
    height: auto;
    width: 500px !important;
    max-width: 500px;
    box-sizing: border-box;
    font-family: 'Nunito';
    padding: 40px;

}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;

    >img {
        &:hover {
            cursor: pointer;
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);
            box-shadow: 0 0 12px rgba(255, 255, 255, 0.3), 0 0 4px rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            transform: scale(1.1);
        }
    }
}


.profile-img-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    >img {
        width: 200px;
        height: 200px;
        border-radius: 500px;
    }
}

.avatar-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 8px;
}

.avatar-selection {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}

.avatar-option {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    padding: 4px;
    cursor: pointer;
    transition: all 0.2s ease;

    &.selected {
        padding: 4px;
        background-color: rgb(210, 210, 210);
    }

    &:hover {
        padding: 4px;
        background-color: rgb(210, 210, 210);
    }
}

.edit-name {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 20px;
    margin-top: 40px;

    >h2 {
        font-family: 'Nunito';
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;

    }

    >img {
        width: 30px;
        height: 30px;
    }
}

.edit-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}


input {
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box; 
}

.error {
    color: #d32f2f;
    font-size: 12px;
    margin-top: 4px;

    p {
        margin: 0;
        padding: 0;
    }
}

.button-cancel {
    width: 141px;
    height: 49px;
    padding-top: 12px;
    padding-right: 25px;
    padding-bottom: 12px;
    padding-left: 25px;
    gap: 10px;
    opacity: 1;
    border-radius: 50px;
    border-width: 1px;
    color: #444DF2;
    background-color: white;

    &:hover {
        cursor: pointer;
    }
}