.edit-profile {
    height: 600px;
    width: 500px !important;
    max-width: 500px;
    padding-top: 45px;
    box-sizing: border-box;
    font-family: 'Nunito';
    padding: 40px;

}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;

    >img {
        &:hover {
            cursor: pointer;
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);
            box-shadow: 0 0 12px rgba(255, 255, 255, 0.3), 0 0 4px rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            transform: scale(1.1);
        }
    }
}


.profile-img-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.edit-name {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 20px;
    margin-top: 40px;

    >h2 {
        font-family: 'Nunito';
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;

    }

    >img {
        width: 30px;
        height: 30px;
    }
}

.edit-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}


input {
    width: 380px;
}

.button-cancel {
    width: 141px;
    height: 49px;
    padding-top: 12px;
    padding-right: 25px;
    padding-bottom: 12px;
    padding-left: 25px;
    gap: 10px;
    opacity: 1;
    border-radius: 50px;
    border-width: 1px;
    color: #444DF2;
    background-color: white;

}