%flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 1355px) {
    section {
        >img {
            margin-right: 10px
        }
    }

    .profile-menu {
        >p {
            font-size: 25px;
            margin-left: 10px;
        }
    }
}


@media (max-width: 1150px) {
    .profile-menu {
        >p {
            display: none;
        }
    }

    .profile-img {
        margin-left: 10px;
    }

    .dropdown {
        display: none;
    }
}


@media (max-width: 815px) {
    section {
        >input::placeholder {
            color: transparent;
            width: 500px;
        }
    }

}

@media (max-width: 720px) {
    section {
        >input {
            display: none;
        }

        >img {
            padding-left: 0px;
            width: 161px;
            height: 45px;
        }
    }

    .profile-menu {
        padding-right: 0px;
    }

    .profile-img {
        height: 50px;
        width: 50px;
    }

}

@media (max-width: 400px) {

    .menu-bar {
        width: 62px;
        height: 6px;
        border-radius: 23px;
    }

    .mobile-menu {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        height: 180px;
        width: 100%;

        background: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.25);

        display: flex;
        justify-content: center;
        align-items: center;
        animation: slideUp 0.25s ease-out;


    }

    .mobile-menu-content {
        display: flex;
        flex-direction: column;
        font-size: 25px;
        text-align: center;
        width: 100%;
        margin-left: 50px;

        >div {
            display: flex;
            justify-content: row;
            align-items: center;
            gap: 10px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    @keyframes slideUp {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }
}