%flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 1555px) {
    section {
        >img {
            margin-right: 10px;
            padding: 0;
        }
    }

    .profile-menu {
        padding-right: 0px;

        >p {
            font-size: 25px;
            margin-left: 10px;
        }
    }

    .search {
        margin-left: -20px;
        width: 500px;
        max-width: 900px;
    }
}


@media (max-width: 1380px) {
    .profile-menu {
        >p {
            display: none;
        }
    }

    .profile-img {
        margin-left: 10px;
    }

    .dropdown {
        display: none;
    }

    section {
        margin-right: 50px;
    }
}

@media (max-width: 1180px) {
    .search {
        width: 400px;
    }
}


@media (max-width: 815px) {
    section {
        >input::placeholder {
            color: transparent;
            width: 500px;
        }
    }

}

@media (max-width: 950px) {
    section {
        padding: 12px 16px;
        gap: 12px;
        margin-right: 0;

        // Hauptlogo (DABubble)
        > img:first-of-type {
            width: 130px;
            height: auto;
            padding: 0;
        }
    }

    .mobile-header {
        display: none;
    }

    .search-container {
        display: none;
    }

    .search {
        display: none;
    }

    .profile-menu {
        padding-right: 0;
        gap: 8px;

        > p {
            display: none;
        }
    }

    .profile-img {
        height: 50px;
        width: 50px;
    }

    .dropdown {
        display: none;
    }

    .status-dot {
        margin-bottom: -40px;
        margin-left: -28px;
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 600px) {
    section {
        padding: 10px 16px;

        > img:first-of-type {
            width: 110px;
        }
    }

    .profile-img {
        height: 45px;
        width: 45px;
    }

    .menu-bar-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-bar {
        width: 62px;
        height: 6px;
        border-radius: 23px;
        margin-top: 30px;
    }

    .mobile-menu {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 180px;
        width: 100%;
        background: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slideUp 0.25s ease-out;
        z-index: 100;
    }

    .mobile-menu-content {
        display: flex;
        flex-direction: column;
        font-size: 25px;
        text-align: center;
        width: 100%;

        >div {
            display: flex;
            justify-content: row;
            align-items: center;
            gap: 10px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .profile-logo {
        margin-left: 50px;
        height: 70px;
    }

    @keyframes slideUp {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }
}