// Container für max-width 1440px
:host {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 32px 0 32px;
  font-family: 'Nunito', sans-serif;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  opacity: 0;
  transition: opacity 3s ease;
  animation: showHeaderLogo 0.1s ease forwards;
  animation-delay: 3.55s;

  img {
    height: 70px;
    width: auto;
  }

  p {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }
}

a {
  padding: 5px 9px;
  border: 1px solid transparent;
  border-radius: 16px;
  transition: border-color 0.5 ease-in-out, color 0.3s ease;
}

a:hover {
  border: 1px solid #b4b4b4;
  border-radius: 16px;
  padding: 5px 9px;
  color: #084ba3 !important;
  transition: all 0.2s ease-in-out;
}

.header-text {
  text-align: right;
  a {
    text-decoration: none;
    color: #4d96f6;
  }
}

footer {
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: #4d96f6;
    white-space: nowrap;
  }
}

.footer-flex {
  display: flex;
  gap: 32px;
}

.intro-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.intro-bg {
  position: absolute;
  inset: 0;
  background: linear-gradient(160deg, #8aa2ff, #1627ff);
  animation: introFadeOut 0.8s ease forwards;
  animation-delay: 2.8s;
  z-index: 1;
}

.intro-content {
  display: flex;
  gap: 4px;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  animation: introFlyToHeader 0.7s ease-in forwards;
  animation-delay: 2.8s;
}

.intro-logo {
  width: 120px;
  opacity: 0;
  z-index: 99;
  animation: introLogoIn 0.6s ease forwards, introLogoShift 0.5s ease forwards 0.6s,
    introLogoStay 1s linear forwards 2s;
}

.intro-text {
  font-size: 56px;
  font-weight: 700;
  color: white;
  font-family: 'Nunito', sans-serif;

  opacity: 0;
  position: absolute;
  left: 70px;
  transform: translateX(-40px);

  animation: textSlideOut 0.7s ease forwards 1.2s, textFadeOut 2s ease-out forwards 2.8s;
}

.header-text-responsive {
  display: none;
}

@keyframes introLogoIn {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes textFadeOut {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

@keyframes introLogoShift {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-110px);
  }
}

@keyframes introLogoStay {
  from {
    transform: translateX(-110px);
  }
  to {
    transform: translateX(-110px);
  }
}

@keyframes textSlideOut {
  from {
    opacity: 0;
    transform: translateX(-190px);
  }
  to {
    opacity: 1;
    transform: translateX(-40px);
  }
}

@keyframes introFlyToHeader {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    top: 8px;
    left: max(72px, calc(50vw - 720px + 72px));
    transform: translate(0, 0) scale(0.5833);
    color: black;
  }
}

@keyframes introFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showHeaderLogo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-logo.no-intro {
  opacity: 1;
  animation: none !important;
}

// Tablet/kleine Desktop-Auflösungen
@media (max-width: 768px) {
  header {
    padding: 24px 24px 0 24px;
  }

  footer {
    padding: 20px 24px;
    gap: 24px;
  }

  .footer-flex {
    gap: 24px;
  }
}

// Mobile
@media (max-width: 500px) {
  header {
    justify-content: center;
    padding: 16px 16px 0 16px;
  }

  .header-text {
    display: none;
  }

  .header-logo {
    animation-delay: 3.5s !important;

    img {
      height: 50px;
    }

    p {
      font-size: 24px;
    }
  }

  .header-text-responsive {
    display: block;
    text-align: center;
    
    p {
      margin-bottom: 4px;
    }
  }

  footer {
    flex-direction: column;
    padding: 16px;
    gap: 12px;

    a {
      border: 1px solid #b4b4b4;
      border-radius: 16px;
      padding: 5px 9px;
      color: #084ba3 !important;
    }
  }

  .footer-flex {
    display: flex;
    gap: 12px;
  }

  .intro-content {
    animation: introFlyToHeaderMobile 0.6s ease-in forwards;
    animation-delay: 2.8s;
  }

  .intro-logo {
    width: 90px;
    animation: introLogoIn 0.6s ease forwards, introLogoShift 0.5s ease forwards 0.6s;
  }

  .intro-text {
    font-size: 41.5px;
    animation: textSlideOutMobile 0.5s ease forwards 0.8s, textFadeOut 4s ease forwards 2.3s;
  }

  @keyframes introFlyToHeaderMobile {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
    }

    100% {
      top: 6px;
      left: 50.5%;
      transform: translate(-50%, 0) scale(0.777);
    }
  }

  @keyframes textSlideOutMobile {
    from {
      opacity: 0;
      transform: translateX(-190px);
    }
    to {
      opacity: 1;
      transform: translateX(-75px);
    }
  }
}
