<body>
  <div class="intro-wrapper" *ngIf="showIntro">
    <div class="intro-bg"></div>
  <div class="intro-content">
    <img src="/img/Logo (1).png" class="intro-logo" />
    <span class="intro-text">DABubble</span>
  </div>
</div>

<header>
  <div class="header-logo"  [class.no-intro]="!showIntro">
  <img src="/img/Logo (1).png" />
  <p>DABubble</p>
  </div>
  <div class="header-text" *ngIf="showHeaderText">
    <p>Neu bei DABubble?</p>
    <a routerLink="/signup">Konto erstellen</a>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
    <div class="header-text-responsive" *ngIf="showHeaderText">
    <p>Neu bei DABubble?</p>
    <a routerLink="/signup">Konto erstellen</a>
  </div>
  <div class="footer-flex">
  <a routerLink="/legal-notice" class="responsive">Impressum</a>
  <a routerLink="/privacy-policy" class="responsive">Datenschutz</a>
  </div>
</footer>
</body>

