* {
  background-color: #ffffff !important;
}

app-threads-header {
  z-index: 1;
}

aside {
  width: 100%;
  height: 100%;
  max-height: 900px;
  border-radius: 30px;
  top: 157px;
  left: 1415px;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 0;
  overflow: hidden;
}
