<div class="add-members-dialog">
    <div>
        <header class="add-members-dialog-header">
            <div class="headline">
                <h2>Leute hinzufügen</h2>

                <span class="icon-box" (click)="close()">
                    <img class="default" src="icons/close.png" alt="">
                    <img class="hover" src="icons/close_purple.png" alt="">
                </span>
            </div>

            <div class="subheading">
                <img src="icons/tag_purple.png" alt="" />
                <span>{{ channelName }}</span>
            </div>
        </header>

        <div class="input-wrap" [class.has-chip]="selected().length > 0">
            <ng-container *ngFor="let u of selected()">
                <span class="chip">
                    <img class="avatar" [src]="'/icons/avatars/' + u.avatar" [alt]="u.name" />
                    <span class="name">{{ u.name }}</span>

                    <span class="icon-box-remove" (click)="removeSelected(u.uid)">
                        <img class="default" src="icons/close.png" alt="">
                        <img class="hover" src="icons/close_purple.png" alt="">
                    </span>
                </span>
            </ng-container>

            <input type="text" [placeholder]="selected().length ? '' : 'Name eingeben'" [ngModel]="query()"
                (ngModelChange)="query.set($event)" (focus)="hasFocus.set(true)" (blur)="hasFocus.set(false)"
                (keydown)="onKeyDown($event)" aria-autocomplete="list" aria-expanded="{{ showDropdown() }}" />

            <div class="dropdown" *ngIf="showDropdown()">
                <button class="option" *ngFor="let u of suggestions(); let i = index"
                    [class.active]="i === activeIndex()" (mousedown)="$event.preventDefault()" (click)="selectUser(u)">
                    <img class="avatar" [src]="'/icons/avatars/' + u.avatar" [alt]="u.name" />
                    <div class="meta">
                        <div class="row">
                            <span class="name">{{ u.name }}</span>
                            <span class="dot" [class.online]="u.status === 'online'"></span>
                        </div>
                    </div>
                </button>
            </div>
        </div>

        <footer class="footer">
            <button class="button" [disabled]="!selected().length" (click)="addMembers()">
                Hinzufügen
            </button>
        </footer>
    </div>
</div>