 <app-new-message *ngIf="showNewMessages" (close)="onClose()"></app-new-message>

<section>
 <app-channel-messages-header
  [fullChannel]="fullChannel"  
  [channel]="channelName"
  [channelId]="channelId"
  [members]="members"
  [description]="description">
</app-channel-messages-header>
</section> <app-new-message *ngIf="showNewMessages" (close)="onClose()"></app-new-message>

<section >

<app-channel-messages-header
    [channel]="channelName"
    [channelId]="channelId"
    [members]="members">
  </app-channel-messages-header>    <app-thread-channel-messages></app-thread-channel-messages>
</section>