@font-face {
  font-family: 'Nunito';
  src: url('/fonts/static/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Nunito-semiBold';
  src: url('/fonts/static/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: SemiBold;
}

@font-face {
  font-family: 'Nunito-noBold';
  src: url('/fonts/static/Nunito-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: Regular;
}

body {
  margin: 0;
  background-color: #eceefe;
}

.menu {
  width: 282px;
  height: 181px;
  border-top-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  background-color: white !important;
  padding: 30px;
  gap: 15px;
  opacity: 1;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;

  >button {
    display: flex;
    justify-content: center;
  }
}

::ng-deep .menu .mat-mdc-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

::ng-deep .menu button.mat-mdc-menu-item {
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

::ng-deep .cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(2px);
}

.mat-drawer-content {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  left: 0;
}

.mat-drawer-inner-container {
  height: 940px !important;
  max-height: 940px !important;
}

.add-channel-dialog-panel .mat-mdc-dialog-surface {
  width: 872px !important;
  max-width: 872px !important;
  border-radius: 30px !important;
  overflow: hidden;
}

.edit-profil-dialog-panel .mat-mdc-dialog-surface {
  border-radius: 30px !important;
  overflow: hidden;
}

.profile-dialog-panel .mat-mdc-dialog-surface {
  border-top-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  overflow: hidden;
}


.add-people-dialog-panel .mat-mdc-dialog-surface {
  width: 710px !important;
  max-width: 872px !important;
  border-radius: 30px !important;
  overflow: hidden;
}


.edit-channel-dialog-panel .mat-mdc-dialog-surface {
  width: 872px !important;
  max-width: 872px !important;
  height: 616px;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  overflow: hidden;
}


.edit-members-dialog-panel .mat-mdc-dialog-surface {
  width: 415px !important;
    max-width: 415px !important;
    height: 411px !important;
    max-height: 411px !important;
  border-top-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  overflow: visible !important;
}


.add-members-dialog-panel .mat-mdc-dialog-surface {
  width: 514px !important;
  max-width: 514px !important;
  height: auto !important;
  max-height: none !important;
  border-top-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  overflow: visible !important;
}



button {
  font-family: 'Nunito';
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 160px;
  height: 49px;
  border-radius: 25px !important;
  gap: 10px;
  opacity: 1;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 25px;
  background-color: #444df2;
  color: white;
  border: 1px solid;

  &:hover {
    background-color: #4d87d9;
    cursor: pointer;
  }
}

input {
  width: 742px;
  border-radius: 40px;
  border: 1px solid #adb0d9;
  gap: 20px;
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  border-width: 1px;
}

input:focus {
  border-color: #444df2;
  outline: none;
  color: #1a1a1a;
}

input::placeholder {
  color: #686868;
  font-size: 20px;
  font-family: 'Nunito-noBold';
  font-weight: 400 !important;
  opacity: 1;
}

.button-white {
  width: 160px;
  height: 49px;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 25px;
  gap: 10px;
  opacity: 1;
  border-radius: 50px;
  border-width: 1px;
  color: #444df2;
  background-color: white;

  &:hover {
    background-color: #444df2;
    color: white;
    cursor: pointer;
  }
}