.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  flex: 1;
  padding: 12px 16px;
  box-sizing: border-box;
}

.login-card {
  position: relative;
  background: white;
  border-radius: 20px;
  padding: 48px;
  text-align: center;
  width: 450px;
}

.title {
  color: #405cff;
  font-size: 38px;
  margin-bottom: 8px;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 0;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: left;
}

.material-symbols-outlined {
  font-size: 20px;
  margin-right: 12px;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 16px;
}

button {
  width: 120px;
}

.back-arrow {
  position: absolute;
  top: 16px;
  left: 16px;

  font-size: 32px;
  color: #4d96f6;
  cursor: pointer;

  transition: 0.2s ease;
  z-index: 2000;
}

.back-arrow:hover {
  color: #084ba3;
  transform: translateX(-4px);
}

.disabled-btn {
  background-color: #8a8a8a;
  cursor: not-allowed;
}

.avatar-image {
  height: 200px;
  border-radius: 100px;
}

.avatar-selection {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 48px;
}

.avatar-option {
  height: 60px;
  border-radius: 100px;
  padding: 4px;
  cursor: pointer;

  &.selected {
    padding: 4px;
    background-color: rgb(210, 210, 210);
  }

  &:hover {
    padding: 4px;
    background-color: rgb(210, 210, 210);
  }
}

@media (max-width: 550px) {
  .login-container {
    padding: 12px 16px;
  }

  .login-card {
    width: 300px;
    padding: 24px;
  }

  .back-arrow {
    position: static;
    display: flex;
    margin: 0 0 8px 0;
  }

  h1 {
    font-size: 26px !important;
    margin-bottom: 16px !important;
  }

  .subtitle {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 12px;
  }

  .avatar-selection {
    gap: 6px;
    margin: 16px 0 24px 0;
    flex-wrap: wrap;
  }

  .avatar-image {
    height: 140px;
  }

  .avatar-option {
    height: 40px;
  }
  
  .buttons {
    justify-content: center;
  }
}
